// Fonts
$body-font:  'Open Sans', sans-serif;
$heading-font: 'Oswald', sans-serif;

// Colors
$bg-color1: #fff; 
$text-color1: #2d0101;
$red-color: #FC5253;
$secondary-color: #e8e8e8;
$grey-two: #c9c9c9;