// Positioning properties
// Using Susy Grids
// http://susy.oddbird.net/

.page {
    @include container;
    @include breakpoint(800) {
        margin-left: 1.5em;
        margin-right: 1.5em;
    }
    @include breakpoint(1280) {
        margin-left: 0;
        margin-right: 0;
    }
}

.header {
    @include span(4 of 4);
    position: fixed;
    @include breakpoint(1280) {
        @include span(1.65 of 5);
        right: gutter();
    }
    @include breakpoint(1680) {
        @include span(1 of 5);
        right: 0;
    }
    li {
        margin-right: 0.5em;
        margin-left: 0.5em;
        @include breakpoint(480) {
            margin-right: 1em;
            margin-left: 1em;
        }
        @include breakpoint(1280) {
            margin-right: 0;
            margin-left: 1em;
        }
    }
}

.menu-icon {
    position: fixed;
    right: gutter();
}

.sidebar {
    @include span(4 of 4);
    @include breakpoint(1280) {
        @include span(2 of 5);
        position: fixed;
        left: 0;
        top: 0;
    }
}

.photo {
    max-width: span(2 of 4);
    margin-right: auto;
    margin-left: auto;
    @media (min-width: 40em) and (max-width: 80em) {
        img {
            max-width: 418px;
        }
    }
    @include breakpoint(1280) {
        max-width: span(3 of 4);
    }
}

.info {
    @include span(4 of 4);
}

.main {
    @include span(4 of 4);
    @include breakpoint(1280) {
        @include span(3 of 5);
        margin-left: span(2 of 5);
        @include suffix(0.25 of 5);
    }
    @include breakpoint(1680) {
        @include span(2.5 of 5);
    }
}

.main-section {
    h1, h2, p, ul {
        @include breakpoint(800) {
            max-width: 723px;
            float: none;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.project-box {
    p, h2 {
        padding-left: gutter();
        padding-right: gutter();
        @include breakpoint(1024) {
            padding-left: 0;
            padding-right: 0;
        }
        @include breakpoint(1280) {
            padding-left: gutter();
            padding-right: gutter();
        }
        @include breakpoint(1920) {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.icon-wrapper {
    @include breakpoint(1024) {
        position: fixed;
        left: auto;
        right: gutter();
    }
}