.header {
    text-align: center;
    padding: 0;
    @include breakpoint(1280) {
        text-align: right;
    }
    li {
        background: #fff;
        @include breakpoint(1680) {
            display: block;
            background: none;
        }
        a {
            text-decoration: none;
            color: $text-color1;
            transition: 0.5s all ease;
        }
    }
}

.nav ul {
    padding-left: 0;
    display: none;
    @include breakpoint(1680) {
        background: none;   
        display: block !important;
    }
}

nav li {
    display: inline;
    @include breakpoint(1680) {
        padding: 0;
    }
}

.sidebar {
    height: 100%;
    @include breakpoint(1280) {
        text-align: center;
    }
}

.profile-img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.5);
}

h1, h2, h3,
.nav {
    font-family: $heading-font;
}

.photo {
    @media (min-width: 40em) and (max-width: 80em) {
        text-align: center;
    }
}

.info {
    font-family: $heading-font;
    text-align: center;
    svg {
        margin-right: 1em;
    }
}

.main {
    @include breakpoint(1280) {
        padding-left: 0;
    }
}

.intro {
    h1 {
        text-align: center;
        @include breakpoint(1280) {
            text-align: left;
        }
    }
    p {
        font-family: $heading-font;
        text-align: center;
        text-transform: uppercase;
        color: $red-color;
        color: $text-color1;        
        padding-right: 1em;
        @include breakpoint(1280) {
            margin-left: 2em;
            text-align: left;
        }
    }
    p a {
        color: $text-color1;
        color: $red-color;
        font-weight: bold;
        text-decoration: none;
        transition: 0.5s all ease;
        &:hover {
            background-color: darken($bg-color1, 15);
            color: darken($red-color, 15);
            border-radius: 2px;
            box-shadow: 0 3px 5px 0 rgba(0,0,0,0.5);
        }
    }
    p a:hover, p a:active {
        text-decoration: none;
    }
    @include breakpoint(1280) {
        height: 100vh;
    }
    // iPad with portrait orientation - vh fallback.
    @media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
        height: 1024px;
    }
    // iPad with landscape orientation - vh fallback.
    @media all and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
        height: 768px;
    }
    // iPhone 5 - vh fallback.
    @media screen and (device-aspect-ratio: 40/71) {
        height: 500px;
    }
}

.intro-front-dev {
    font-size: 1.1em;
    font-weight: bold;
}

.main-section {
    h1 {
        text-transform: uppercase;
        color: $red-color;
    }
    ul {
        background: $secondary-color;
        border-radius: 2px;
        box-shadow: 0 3px 5px 0 rgba(0,0,0,0.5);
    }
}

.footer {
    font-family: $heading-font;
}